<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>6x6 Matrix</title>
    <link rel="stylesheet" href="/src/assets/css/quiz.css">
</head>
<body>
    <ul class="matrix"></ul>
    <button id="floatingButton">Full</button>
  
    <div id="popup" class="popup-overlay">
      <div class="popup-content">
          <h2>이건팀 번호를 선택</h2>
          <label><input type="radio" name="option" value="1" checked> 1</label>
          <label><input type="radio" name="option" value="2"> 2</label>
          <label><input type="radio" name="option" value="3"> 3</label>
          <label><input type="radio" name="option" value="4"> 4</label>
          <br>
          <br>
          <br>
          <button onclick="confirmSelection()">확인</button>
      </div>
    </div>

    <script src="/src/assets/js/quiz.js"></script>
</body>
</html>


